In [1]:
#import the relevant libraries
import pgeocode # for this exercise I am using pgeociode to get the coordinate
import pandas as pd
import numpy as np

In [2]:
#import the canada_postal table as 'df'--> this was created previously from wikipedia table
#please refer to the previous exercise (Segmenting and Clustering Neighborhoods in Toronto)
df = pd.read_csv('canada_postal.csv')
df.head(5)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [3]:
nomi = pgeocode.Nominatim('ca')

In [4]:
lat = [] #create empty list of latitude(here we use 'lat' as the variable name)
long = [] #create empty list of longitude(here we use 'long' as the variable name)
i = 0

for i in range (len(df['PostalCode'])):
    postal = df['PostalCode'][i]
    lat.append(nomi.query_postal_code(postal).latitude) #append the latitude into 'lat' list
    long.append(nomi.query_postal_code(postal).longitude) #append the longitude into 'long' list
    i+=1

df['Latitude'] = lat #insert the latitude column into the table 'df'
df['Longitude'] = long #insert the longitude column into the table 'df'

df.head(10)

  PostalCode           Borough      Neighborhood  Latitude  Longitude
0        M3A        North York         Parkwoods   43.7545   -79.3300
1        M4A        North York  Victoria Village   43.7276   -79.3148
2        M5A  Downtown Toronto      Harbourfront   43.6555   -79.3626
3        M5A  Downtown Toronto       Regent Park   43.6555   -79.3626
4        M6A        North York  Lawrence Heights   43.7223   -79.4504
5        M6A        North York    Lawrence Manor   43.7223   -79.4504
6        M7A      Queen's Park      Queen's Park   43.6641   -79.3889
7        M9A         Etobicoke  Islington Avenue   43.6662   -79.5282
8        M1B       Scarborough             Rouge   43.8113   -79.1930
9        M1B       Scarborough           Malvern   43.8113   -79.1930

In [5]:
df.to_csv('canada_coordinate.csv', index = False)