# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

## Add Coordinate to Dataframe

In [1]:
#import libraries
import pandas as pd

#conda install -c conda-forge geocoder <-- install geocoder
import geocoder

In [2]:
#import dataset created from the wikipedia(refer to createTable_Clustering_Neighborhood_Toronto.ipynb)
df = pd.read_csv('canada_postal.csv')
df.head(10)

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [3]:
#import the coordinate file 
df_coords = pd.read_csv('Geospatial_Coordinates.csv')
df_coords.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:
#rename the Postal Code column to PostalCode to ensure both dataset have the same column name 
#for the purpose of merging both dataset
df_coords.rename(columns = {'Postal Code': 'PostalCode'}, inplace = True)
df_coords.head(10)

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [5]:
#merge both dataset using left join and PostalCode as the reference
df = pd.merge(df, df_coords, on = 'PostalCode', how = 'left')
df.head()

  PostalCode           Borough     Neighbourhood   Latitude  Longitude
0        M3A        North York         Parkwoods  43.753259 -79.329656
1        M4A        North York  Victoria Village  43.725882 -79.315572
2        M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3        M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4        M6A        North York  Lawrence Heights  43.718518 -79.464763