# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

## Create Dataframe

In [1]:
#import the necessary library (here we going to use pandas and wikipedia library to import the table)
#make sure to install wikipedia if not installed yet
import pandas as pd

#conda install -c conda-forge geopy <--the code for installing wikipedia
import wikipedia as wp

In [2]:
#create html object using wikipedia library
#for this purpose, the webpage name is 'List of postal codes of Canada: M'
#then convert the object into html format
#here we use utf-8 code for the html
html = wp.page(title = 'List of postal codes of Canada: M').html().encode('UTF-8')

#use pandas read_html to read the object
#get the desired table unsing index. here use 0 since it is the first table
df = pd.read_html(html)[0]

#show the first 10 rows of dataset
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [3]:
df = df[df.Borough != 'Not assigned'] # remove rows for Borough with 'Not assigned' values
df.reset_index(inplace = True) # reset the index
df.drop('index', axis = 1, inplace = True) # drop the old index column
df = df.rename(columns = {'Postcode': 'PostalCode'}) # change the column name Postcode to PostalCode
df = df.rename(columns = {'Neighbourhood': 'Neighborhood'})  # change the column name Postcode to PostalCode

#show the first 10 rows of dataset        
df.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Not assigned
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

In [4]:
#check if there are any 'Not assigned' values in Neighbourhood column and Borough column
print('Number of values not assigned in Neigborhood column: ', sum(df['Neighborhood'] == 'Not assigned'))
print('Number of values not assigned in Borough column: ', sum(df['Borough'] == 'Not assigned'))

Number of values not assigned in Neigborhood column:  1
Number of values not assigned in Borough column:  0

In [5]:
#to assign the 'Not assigned' values in Neighbourhood column with Borough values
#first assign i to 0
i = 0

#replace each value for Neighbourhood column with Bourough value if the Neigbourhood value is 'Not assigned'
#we use loop function to achieve this
for i in range(len(df.index)):
    if (df['Neighborhood'][i] == 'Not assigned') == True:
        df.replace(df['Neighborhood'][i], df['Borough'][i], inplace = True)
        i += 1 # increase the i value by 1 after each iteration
    else:
        i += 1 # increase the i value by 1 after each iteration

#show the first 10 rows of dataset        
df.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Queen's Park
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

In [6]:
#to confirm all the 'Not assigned' values have been replaced
print('Number of values not assigned in Neigborhood column: ', sum(df['Neighborhood'] == 'Not assigned'))

Number of values not assigned in Neigborhood column:  0

In [7]:
#save the file into csv file name 'canada_postal.csv'
df.to_csv('canada_postal.csv', index = False)

In [8]:
#print the dataset dimension using .shape
print('Dataset dimension: ', df.shape)

Dataset dimension:  (211, 3)